@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
  min-height: 0;
}

::view-transition {
  z-index: 10;
}

::view-transition-group(*) {
  animation-duration: 150ms;
}
::view-transition-group(variant-card-dialog-overlay){
  /* z-index: -10; */
}
::view-transition-group(){

}
/* 
::view-transition-group(mobile-sidebar) {
  animation-duration: 0ms;
} */
::view-transition-group(sidebar) {
  animation-duration: 0ms;
}


@keyframes searchbarSqueeze {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 2.5rem;
  }
}

/* Unused */

.light {
  --bg: #fdfdff;
  --card: #f1f5f9; /* slate-100 */
  --cardHover: #e2e8f0; /* slate-200 */
  --text: #94a3b8; /* slate-400 */
  --strong: #64748b; /* slate-500 */
  --stronger: #475569; /* slate-600 */
}
.dark {
  --bg: #292a30;
  --card: #373942;
  --cardHover: #484a53;
  --text: #8e90a3;
  --strong: #cccbde;
  --stronger: rgb(219, 221, 245);
}
.catppuccin {
  --bg: #24273a;
  --card: #363a4f;
  --cardHover: #494d64;
  --text: #939ab7;
  --strong: #b7bdf8;
  --stronger: #f5bde6;
}
.vercel {
  --bg: #000000;
  --card: #131313;
  --cardHover: #1b1b1b;
  --text: #adadad;
  --strong: #4e74e4;
  --stronger: #ffffff;
}
.nord {
    --bg: #2E3440;
  --card: #3B4252;
  --cardHover: #434C5E;
  --text: #D8DEE9;
  --strong: #88C0D0;
  --stronger: #ECEFF4;
}
.monokai {
  --bg: #272822;
  --card: #3e3d32;
  --cardHover: #4a493c;
  --text: #a6a597;
  --strong: #6c99bb;
  --stronger: #e5b567;
}
.poimandres {
  --bg: #252B37;
  --card: #313a4b;
  --cardHover: #3e495e;
  --text: #91B4D5;
  --strong: #5DE4C7;
  --stronger: #E4F0FB;
}
.vitesse {
  --bg: #121212;
  --card: #232623;
  --cardHover: #313631;
  --text: #677567;
  --strong: #BD976A;
  --stronger: #5EA994;
}
.github {
  --bg: #02040A;
  --card: #0D1116;
  --cardHover: #161B22;
  --text: #848D97;
  --strong: #4593F8;
  --stronger: #E6EDF3;
}
.dracula {
  --bg: #282A36;
  --card: #34394C;
  --cardHover: #3D455E;
  --text: #A0B1E2;
  --strong: #FF79C6;
  --stronger: #8BE9FD;
}
